

<div class="book-ad">
<a href="https://amzn.to/2xd5qCn">
  <em>New 7th Edition</em><br/>
</a>
<a href="https://www.amazon.com/gp/product/1491952024/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=davidflanag0c-20&linkId=57e9aff76c7f704576ba7f7e5e839bb2&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1491952024&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=davidflanag0c-20&language=en_US" style="margin:0 !important;"></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=davidflanag0c-20&language=en_US&l=li3&o=1&a=1491952024" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a href="https://amzn.to/2xd5qCn">
  <em>Order JavaScript: The Definitive Guide now!</em>
</a>
</div>
